---
import data from "../js/load.js";
import Layout from "../layouts/Layout.astro";
import exImg from "/images/mock/jwp_mock_01.png";
import exImg2 from "/images/mock/jwp_mock_02.png";
import exImg3 from "/images/mock/jwp_mock_03.png";

const imgWidth = 200;
---

<Layout title="initial page">
  <h1>JW Pippen Gallery Test</h1>
  <!-- <h2>{data[2].fileName}</h2> -->

  <!-- {
    data.map(function (val) {
      return <h2>{val.fileName}</h2>;
    })
  } -->

  <div id="app" class="gallery">
    <div class="pswp-gallery" id="my-gallery">
      {
        data.map(function (imgObj) {
          return (
            <a
              href={`.././images/mock/${imgObj.fileName}`}
              data-pswp-width={imgObj.width}
              data-pswp-height={imgObj.height}
              target="_blank"
              data-cropped="true"
            >
              <img
                src={`.././images/mock/${imgObj.fileName}`}
                width={imgWidth}
                height={imgWidth}
                alt=""
              />
            </a>
          );
        })
      }
    </div>
  </div>
</Layout>

<style>
  h1 {
    background-color: red;
    color: white;
    padding: 1rem;
  }

  img {
    object-fit: cover;
  }
</style>

<script src="./../js/photoSwipe.js"></script>
